azulClaro/NODERED.json
[{"id":"b1d0dfe3.dd12d","type":"http in","z":"ddca60f2.c2fbd","name":"","url":"/chat","method":"post","swaggerDoc":"","x":560,"y":572,"wires":[["4c31440.db0d1bc"]]},{"id":"dc5a41c7.f0432","type":"http response","z":"ddca60f2.c2fbd","name":"","x":1494,"y":566,"wires":[]},{"id":"4c31440.db0d1bc","type":"switch","z":"ddca60f2.c2fbd","name":"action","property":"action","propertyType":"flow","rules":[{"t":"else"}],"checkall":"true","outputs":1,"x":831,"y":596,"wires":[["ac835279.55fd2","96ef5524.97efd8"]]},{"id":"1e1841cb.d684ae","type":"mongodb out","z":"ddca60f2.c2fbd","service":"ext","mongodb":"","name":"Grava Dados","collection":"usuario_dados","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1465,"y":478,"wires":[]},{"id":"c68ff278.acaae","type":"http response","z":"ddca60f2.c2fbd","name":"","x":1508,"y":628,"wires":[]},{"id":"ba21b73e.662638","type":"function","z":"ddca60f2.c2fbd","name":"action","func":"return {\n \n \"flow\":{\n 'action': 'insert'\n },\n \"msg\": {\n \"payload\" : \"eu quero chegar no batel\",\n \"extra\" : {\n 'msg_type' : 'text',\n 'id' : 1234,\n 'network_name' : 'facebook',\n 'network_data' : null,\n 'action' : 'insert',\n 'action_data' : \"\",\n }\n }\n};","outputs":1,"noerr":0,"x":534,"y":320,"wires":[["4c31440.db0d1bc"]]},{"id":"b31db8be.207e38","type":"inject","z":"ddca60f2.c2fbd","name":"","topic":"","payload":"action","payloadType":"str","repeat":"","crontab":"","once":true,"x":211,"y":399,"wires":[["8281b00a.c1924"]]},{"id":"8281b00a.c1924","type":"switch","z":"ddca60f2.c2fbd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"null","vt":"str"},{"t":"eq","v":"login_network","vt":"str"}],"checkall":"true","outputs":3,"x":351,"y":399,"wires":[["ba21b73e.662638"],["87a7de91.98c5"],["96e39ae6.ee92e8"]]},{"id":"87a7de91.98c5","type":"function","z":"ddca60f2.c2fbd","name":"null","func":"return {\n 'msg' : '',\n 'msg_type' : msg.payload.req.text,\n 'id' : null,\n 'network_name' : null,\n 'network_data' : null,\n 'action' : null,\n 'action_data' : null,\n};","outputs":1,"noerr":0,"x":552,"y":377,"wires":[["4c31440.db0d1bc"]]},{"id":"96e39ae6.ee92e8","type":"function","z":"ddca60f2.c2fbd","name":"login_network","func":"return {\n 'msg' : '',\n 'msg_type' : msg.payload.req.text,\n 'id' : null,\n 'network_name' : null,\n 'network_data' : null,\n 'action' : null,\n 'action_data' : null,\n 'cloudwatch_id' : \"asdasdasd\"\n};","outputs":1,"noerr":0,"x":532,"y":426,"wires":[["4c31440.db0d1bc"]]},{"id":"84273e4.c4ce8c","type":"http in","z":"ddca60f2.c2fbd","name":"","url":"/chat","method":"get","swaggerDoc":"","x":414,"y":655,"wires":[["9a39da9e.732818"]]},{"id":"fa8c7eee.c9b27","type":"http response","z":"ddca60f2.c2fbd","name":"oi","x":692,"y":650,"wires":[]},{"id":"ac835279.55fd2","type":"watson-conversation-v1","z":"ddca60f2.c2fbd","name":"caps","workspaceid":"7a23369a-464c-4cb3-9a17-dc77a9dbc604","multiuser":false,"context":false,"x":1013,"y":589,"wires":[["d3600356.f535d"]]},{"id":"9a39da9e.732818","type":"template","z":"ddca60f2.c2fbd","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n \"msg\" : \"teste!\"\n}","x":564,"y":655,"wires":[["fa8c7eee.c9b27"]]},{"id":"fc69412e.09f95","type":"debug","z":"ddca60f2.c2fbd","name":"","active":true,"console":"false","complete":"true","x":1571,"y":511,"wires":[]},{"id":"d3600356.f535d","type":"function","z":"ddca60f2.c2fbd","name":"","func":"if(msg.payload.output.text == \"Por favor, me informe um destino valido\"){\nreturn {\n \"msg\" : {\n \"payload\":msg.payload.output.text, \n \"dbsave\" :{\n \"entity\": msg.payload.entities,\n \"extra\" : msg.extra\n }\n }\n}\n} else {\n return {\n \"msg\" : {\n \"payload\":msg.payload.output.text \n }\n };\n}\n","outputs":1,"noerr":0,"x":1158,"y":592,"wires":[["d7758404.effbc8"]]},{"id":"d7758404.effbc8","type":"switch","z":"ddca60f2.c2fbd","name":"","property":"dbsave","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":1315,"y":591,"wires":[["1e1841cb.d684ae","dc5a41c7.f0432","fc69412e.09f95"],["c68ff278.acaae"]]},{"id":"96ef5524.97efd8","type":"debug","z":"ddca60f2.c2fbd","name":"","active":true,"console":"false","complete":"payload","x":991,"y":489,"wires":[]}]
